.bg-primaryBg{
  background-image:  url('https://i.pinimg.com/originals/c6/11/cb/c611cb9b5923aac324f63af68a212c71.jpg');
  background-size: 100% 100%;
  }

}
@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
